<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rollcall">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CameraOpenCV.OpenCvCameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Teacher.TeacherStatus.TeacherStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Teacher.TeacherDate.TeacherDateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.StudentStatus.StudentStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity android:name=".Camera.Camera2BasicFragment" />
        <activity
            android:name=".Camera.CameraActivity"
            android:label="Camera"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarCamera" />
        <activity
            android:name=".Student.RegisterLessonStudent.RegisterLessonStudentActivity"
            android:label="Register Lesson"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.StudentLesson.StudentLessonsActivity"
            android:label="Lessons"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Teacher.AddLessonTeacherActivity"
            android:label="Add Lesson"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.MainStudentActivity"
            android:label="QR Code Reader"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Teacher.TeacherLessons.TeacherLessonsActivity"
            android:label="Lessons"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Teacher.RegisterTeacherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".VerifyActivity"
            android:label="@string/verify_label"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.RegisterStudentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>